@using System.Reflection
@using BuildIt.Store
<div class="factory">
    <h7>@Self.Type</h7>
    
    @{ var list = Enum.GetValues(typeof(FactoryType)).Cast<FactoryType>(); }
    <Dropdown TItem="FactoryType" OnSelected="@OnSelected" >
        <InitialTip>@Self.Type</InitialTip>
        <ChildContent>
            @foreach (var type in list)
            {
                <DropdownListItem Item="@type">@type</DropdownListItem>
            }
        </ChildContent>
    </Dropdown>

    
    <br/>
    <h8>Current output: @Self.Count</h8>
    <br/>

    <button class="btn btn-primary" @onclick="Make">Make</button>
</div>

@code{
    
    void OnSelected(FactoryType selection)
    {
        Self.Type = selection;
    }

    void Make()
    {
        Self.AddManual();
    }
    
    [Parameter]
    public Store.Factory Self { get; set; }

}