@using BuildIt.Store
<div class="factory">
    @{ var list = Enum.GetValues(typeof(FactoryType)).Cast<FactoryType>(); }
    <Dropdown TItem="FactoryType" OnSelected="@OnSelected">
        <InitialTip>@Self.Type</InitialTip>
        <ChildContent>
            @foreach (var type in list)
            {
                <DropdownListItem Item="@type">@type</DropdownListItem>
            }
        </ChildContent>
    </Dropdown>

    <p>Internal storage: @Self.InternalStorage</p>
    <p>Throughput per tick: @Self.Throughput</p>
    <p>Current employees: @Self.Employees</p>

    <button class="btn btn-primary" @onclick="Make">Make</button>
    <button class="btn btn-primary" @onclick="AddEmployee">Add employee</button>
</div>

@code{

    void OnSelected(FactoryType selection)
    {
        Self.Type = selection;
    }

    void Make()
    {
        Self.Make();
    }

    void AddEmployee()
    {
        Self.AddEmployee();
    }

    [Parameter]
    public Store.Factory Self { get; set; }

}