@page "/"
@using Application.Game.Technologies

@if (_state.Loaded)
{
	<div class="storage">
		<h1>Storage:</h1>
		@foreach (var t in _state.Storage)
		{
			<p>@t.Key.Name:@t.Value</p>
		}
	</div>


	<div>
		<p>Technologies:</p>
		@foreach (var t in TechnologyTree.Technologies)
		{
			<input type="button" class="btn btn-sm btn-warning" disabled="@CanMake(t)" value="Make: @t.Name" @onclick="@(() => Make(t))"/>
		}
	</div>

	<div>
		<input type="button" class="btn btn-sm save" value="Save" onclick="@SaveAsync()"/>
	</div>
}
else
{
	<a>Loading</a>
}

@code {


	private bool CanMake(Technology t)
	{
		return _state.CanMake(t);
	}
	
	private void Make(Technology t)
	{
		 _state.AddToStorage(t, 1);
	}
	
	private async Task SaveAsync()
	{
		await StateManager.SaveAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await StateManager.LoadAsync();
			_state = StateManager.Get();
			_state.Launch();
			StateHasChanged();
		}
	}

}